DOTENV_CONFIG_QUIET=true # disable tips from dotenv
PORT=port_on_which_the_server_will_run
MONGODB_DATABASE=mongodb://username:password@localhost:27017/database_name?authSource=database_name
NODE_ENV=development
