DOTENV_CONFIG_QUIET=true # disable tips from dotenv
PORT=3001
MONGODB_DATABASE=mongodb://username:password@localhost:27017/database_name?authSource=database_name
NODE_ENV=development
BASE_URL=http://localhost:3001
SALT_ROUNDS=10
LOG_LEVEL=debug
JWT_SECRET_KEY=your_secret_here
JWT_EXPIRES_IN=2h
